<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Buster</title>
    <script type="text/javascript">
        var _bstr = _bstr || [];

        _bstr.push(['domainName', '{{ domainName }}']);
        _bstr.push(['trackDomain', '{{ trackDomain }}']);
        _bstr.push(['identity', '[user id]']);

        {% if httpsOff %}
            _bstr.push(['disableHttps']);
        {% endif %}

        _bstr.push(['pageView']);

        (function() {
            var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
            se.src = '/js/buster.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
        })();
    </script>
</head>
<body>
    <h1>Pixelated</h1>
</body>
</html>