<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Buster</title>
    <script type="text/javascript">
        var _bstr = _bstr || [];
        _bstr.push(['domainName', 'buster.onevest.com']);
        _bstr.push(['pageview']);

        (function() {
            var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
            se.src = '/js/buster.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
        })();
    </script>
</head>
<body>
    <h1>Pixelated</h1>
</body>
</html>